<jumbo-common ng-class="{'fullscreen': fullscreen}"></jumbo-common>

<div class="container  course-container " ng-class="{'fullscreen': fullscreen}">
	<div class="row">
		<div class="col-md-9">
			<div class="embed-responsive embed-responsive-16by9">
				<video id="videoTutorial" src="{{videoUrl}}" controls>
					Your browser does not support the <code>video</code> element.
				</video>
			</div>
			<hr>
			<button class="btn btn-sm btn-primary pull-right fullscreen-btn" ng-click="fullscreen = !fullscreen"><span class="glyphicon glyphicon-resize-full" ></span></button>
			<tabset>
				<tab heading="Tutorial">
					<div ng-include="'components/Generator/tutorial.partial-view.html'"></div>
				</tab>
				<tab heading="Slides">
					<ng-pdf template-url="components/common/pdfViewer.html" canvasid="pdf" scale="1.2"></ng-pdf>
				</tab>
				<tab heading="Code Exercise">
					<div ng-include="'components/Generator/codeChallange.partial-view.html'"></div>
				</tab>
			</tabset>

		</div>
		<div class="col-md-3">
			 <video-control ng-if="videoTime.length" ></video-control>
			 <documentation-control ng-if="documentation.length"></documentation-control>
		</div>
	</div>
</div>
