<div class="page-header">
				<h2>Install NPM modules and depencencies</h2>
				<p>This guide walks you through the process installing all needed node modules to start with Appverse HTML5 generator</p>
			</div>
			<div class="alert alert-dismissible alert-info">
				<strong>Note:</strong> Nodejs and NPM package manager must be installed. See the <a ui-sref="Setup">Setup Tutorial</a>
			</div>
	
			<h3>Install the Appverse HTML5 toolset</h3>
			<p>The easiest way to kickstart a new project with Appverse HTML5 is to scaffold a boilerplate app using Yeoman. Yeoman uses scripts called 'generators' to scalffold applications. You just need Checkout the Appverse HTML5 generator repository, and execute it with Yeoman. Just follow these steps:</p>
			<br>
			<h4>Install Yeoman , Bower and Grunt</h4>
	
			<pre>npm install --global yo bower grunt-cli</pre>
			<p>To make sure you have correctly installed <a href="http://bower.io/" target="_blank">Bower</a> , <a href="http://yeoman.io/" target="_blank">Yeoman</a> and <a href="http://gruntjs.com/" target="_blank">Grunt</a></p>
			<pre>yo --version && bower --version && grunt --version</pre>
		    <br>
			<h4>Get the appverse-html5 generator:</h4>
			<pre>npm install -g generator-appverse-html5</pre>
			<br>
			<h4>Run appverse-html5 generator:</h4>
			<pre>mkdir myapp
cd myapp
yo appverse-html5</pre>
<p>Run your app</p>
     <pre>grunt server:open</pre>