
<div class="container" scrolly-scroll>
<form class="form-horizontal" editable-form id="courseForm" ng-submit="preview()">
        <h1>Administration</h1>
        <fieldset class="form-group">
            <label for="courseTitle"  class="col-sm-2 control-label"><b>Title</b></label>
            <div class="col-sm-4">
                <input id="courseTitle" type="text" class="form-control" placeholder="Enter course name" ng-model="course.metadata.title" ng-required="true" ng-change="updateCourseName()">
            </div>
            <label for="courseName"  class="col-sm-2 control-label"><b>Key / URL</b></label>
            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon btn btn-default glyphicon glyphicon-link active" ng-class="courseKeyIsConstrained? 'active':''" ng-click="toggleKeyConstraint()"></span>
                    <input id="courseName" type="text" class="form-control" placeholder="Enter course URL"  ng-model="course.name"   ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="courseParent" class="col-sm-2 control-label">Course track</label>
            <div class="col-sm-10">
                <select id="courseParent" class="form-control"
                ng-options="parent.id as parent.description for parent in parents"
                ng-model="course.parent">
                <option ></option>
            </select>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <label for="courseSubtitle" class="col-sm-2 control-label">Subtitle</label>
        <div class="col-sm-10">
            <input id="courseSubtitle" type="text" class="form-control" placeholder="Enter course subtitle"  ng-model="course.metadata.subtitle">
        </div>
    </fieldset>
    <fieldset class="form-group">
        <label for="courseDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <textarea id="courseDescription" class="form-control" placeholder="Enter course description"  rows="3"  ng-model="course.metadata.description"></textarea>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <label for="courseImage" class="col-sm-2 control-label">Image URL</label>
        <div class="col-sm-10">
            <input id="courseImage" type="url" class="form-control" placeholder="Enter course image URL"  ng-model="course.metadata.imgURL"  ng-model-options="{debounce: 2000}">
        </div>
        <div ng-if="course.metadata.imgURL" class="well col-sm-10 col-sm-push-2"><img class="img-responsive" ng-src="{{course.metadata.imgURL}}"></div>
    </fieldset>

    <fieldset class="form-group">
        <label for="courseDifficulty" class="col-sm-2 control-label">Difficulty</label>
        <div class="col-sm-10">
            <rzslider id="courseDifficulty" rz-slider-floor="1" rz-slider-ceil="5" rz-slider-show-ticks="true" rz-slider-vertical="true" rz-slider-model="course.metadata.difficulty" rz-slider-always-show-bar="true" ng-init="course.metadata.difficulty=3"></rzslider>
        </div>
    </fieldset>


    <fieldset class="form-group fade-in" ng-if="course.parent" >
        <tabset>
            <tab heading="Video">
                <div class="row">
                    <label for="courseVideoUrl" class="col-sm-2 control-label">Video URL</label>
                    <div class="col-sm-10">
                        <input id="courseVideoUrl" class="form-control" placeholder="Enter course video URL"  ng-model="course.contents.video.videoUrl" ng-model-options="{debounce: 1000}">
                        <p class="help-block small">/resources/courses/Appverse/Appverse%20Web/Directives/directives.mp4</p>
                    </div>
                </div>
                <div class="row"><div class="col-md-offset-4 col-sm-4">
                    <div class="embed-responsive embed-responsive-16by9" ng-if="course.contents.video.videoUrl">
                        <video id="videoTutorial"   ng-src="{{course.contents.video.videoUrl}}" controls>
                            Your browser does not support the <code>video</code> element.
                        </video>
                    </div></div>
                </div>
            </tab>
            <tab heading="PDF">
                <div class="row">
                    <label for="coursePdfUrl" class="col-sm-2 control-label">PDF URL</label>
                    <div class="col-sm-10">
                        <input id="coursePdfUrl" class="form-control" placeholder="Enter course PDF URL"  ng-model="course.contents.pdfUrl" ng-model-options="{debounce: 2000}">
                        <p class="help-block small">/resources/courses/Appverse/Appverse%20Web/Directives/directives-lesson-1.pdf</p>
                    </div>
                </div>
            </tab>
            <tab heading="Documentation">
                <div class="row">
                    <label for="courseDocumentationName" class="col-sm-2 control-label">Add a document link</label>
                    <div class="col-md-3">
                        <input id="courseDocumentationName" class="form-control" placeholder="Document name"  ng-model="temp.newDocumentName">
                    </div>
                    <div class="col-md-6">
                        <input id="courseDocumentationURL" class="form-control" placeholder="Document URL"  ng-model="temp.newDocumentURL">
                    </div>
                    <div class="col-md-1">
                        <span class="btn btn-default glyphicon glyphicon-plus" ng-click="addDocument()"></span>
                    </div>
                </div>

                <div class="row">
                    <p class="help-block small">/resources/courses/Appverse/Appverse%20Web/Directives/directives-lesson-1.pdf</p>
                </div>
                <table class="table table-striped table-condensed" ng-if="course.contents.documentation.length">
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="document in course.contents.documentation">
                        <td>{{document.name}}</td>
                        <td>{{document.url}}</td>
                        <td><span ng-click="removeDocument($index)" class="btn btn-xs btn-default glyphicon glyphicon-trash pull-right"></span></td>
                    </tr>
                </table>
            </tab>
            <tab heading="Partials">
                <div class="row">
                    <label for="coursepartial" class="col-sm-2 control-label">Add a partial link</label>
                    <div class="col-md-3">
                        <input id="coursepartialName" class="form-control" placeholder="Partial name"  ng-model="temp.newPartialName">
                    </div>
                    <div class="col-md-6">
                        <input id="coursepartialURL" class="form-control" placeholder="Partial URL"  ng-model="temp.newPartialURL">
                    </div>
                    <div class="col-md-1">
                        <span class="btn btn-default glyphicon glyphicon-plus" ng-click="addPartial()"></span>
                    </div>
                </div>
                <div class="row">
                    <p class="help-block small">/resources/courses/Appverse/Appverse%20Web/Directives/directives-lesson-1.pdf</p>
                </div>
                <div class="row">
                    <label for="coursepartial" class="col-sm-2 control-label">Upload partials</label>
                    <div class="col-md-4">
                        <div id="holder" class="well text-center">Drop files here to upload partials</div>
                    </div>
                </div>
                <table class="table table-striped table-condensed" ng-if="course.contents.partials.length">
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="partial in course.contents.partials">
                        <td>{{partial.name}}</td>
                        <td ng-if="partial.url">{{partial.url}}</td>
                        <td ng-if="!partial.url"><em>Embedded</em></td>
                        <td><span ng-click="removepartial($index)" class="btn btn-xs btn-default glyphicon glyphicon-trash pull-right"></span></td>
                    </tr>
                </table>
            </tab>
        </tabset>
    </fieldset>
    <fieldset class="form-group">
        <div class="pull-right">
            <button type="submit" class="btn btn-default">preview {{course.parent? 'course':'area'}}</button>
        </div>
    </fieldset>
</form>
<br />

<p>{{course.contents.partials}}</p>
</div>
