<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Course contents preview</div>
            <div class="panel-body">
                <jumbotron></jumbotron>
                <breadcrumbs></breadcrumbs>
                <course-contents course="course"></course-contents>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Course listing preview</div>
            <div class="panel-body">
                <course-children children="children"></course-children>
            </div>
        </div>
    </div>
</div>
