<div class="page-header">
  <h2>Charts.js and Angular-Charts</h2>
  <p>Charts.js is a  library to create  clean and engaging charts , to have more flexibility we added on top of Charts.js the angular-charts that is a group of directives that makes easy the interaction with AngularJS</p>
</div>
<div class="well">
  <strong>Charts.js :</strong> <a href="http://jtblin.github.io/angular-chart.js/" target="_blank">Link </a><br>
    <strong>Angular-charts :</strong> <a href="http://www.chartjs.org/" target="_blank">Link </a>
</div>
