<div class="page-header">
  <h4>HTML5 CODE</h4>
 <blockquote>
  <pre>
       <code>
      <div class="container">
    <div class="well">
        <p class="lead">
            Detect Device and Bandwidth
        </p>
        <p class="pull-left">Name: {{name}}</p>
        <div class="clearfix"></div>

        <p>Is it a Mobile Browser ?
            <span ng-class="detect.isMobileBrowser()?'text-success':'text-danger'" ng-cloak>
          {{detect.isMobileBrowser()}}</span>
        </p>

        <p>Appverse Mobile library is present ?
            <span ng-class="detect.hasAppverseMobile()?'text-success':'text-danger'" ng-cloak>
            {{detect.hasAppverseMobile()}}</span>
        </p>


        <div class="form-inline form-group">
            <label>Connectivity status: <span ng-class="detect.isOnline?'text-success':'text-danger'">{{detect.isOnline?'Online':'Offline'}}</span>
            </label>
            <button ng-hide="detect.isPollingOnlineStatus" class="btn btn-primary btn-xs" ng-click="detect.startPollingOnlineStatus(2000)">Start Polling</button>
            <button ng-show="detect.isPollingOnlineStatus" class="btn btn-danger btn-xs" ng-click="detect.stopPollingOnlineStatus()">Stop Polling</button>
        </div>

        <div class="form-inline form-group">
            <label>Bandwidth: <b>{{detect.bandwidth}}</b> Kbytes/s</label>
            <button ng-hide="detect.isPollingBandwidth" class="btn btn-primary btn-xs" ng-click="detect.startPollingBandwidth(2000)">Start Polling</button>
            <button ng-show="detect.isPollingBandwidth" class="btn btn-danger btn-xs" ng-click="detect.stopPollingBandwidth()">Stop Polling</button>
        </div>

    </div>
</div> </code></pre></blockquote>
</div>


<div class="page-header">
  <h4>CONTROLLER CODE</h4>
  <pre>
    angular.module('App.Controllers')

        .controller('DetectionController', ['$scope', 'Detection',
                function ($scope, Detection) {
                        $scope.name = 'Detection';
                        // Seting our Detection Factory as a scope item in our controller
                        $scope.detect = Detection;
                        // Will Ping to a url and check if it is online 
                        Detection.testOnlineStatus();
                        // Will download a file with known size and measure the time and calculate the Bandwidth
                        Detection.testBandwidth();
                }
        ]);
  </pre>
</div>

