<jumbotron></jumbotron>
<breadcrumbs></breadcrumbs>


<div class="container  course-container " ng-if="course.contents" ng-class="{'fullscreen': fullscreen}">
    <div class="row">
        <div class="{{course.contents.video? 'col-md-9' : 'col-md-12'}}">
            <div ng-show="course.contents.video">
                <div   class="embed-responsive embed-responsive-16by9">
                    <video id="videoTutorial" ng-src="{{course.contents.video.videoUrl}}" controls autoplay="{{is_autoplay}}">
                        Your browser does not support the <code>video</code> element.
                    </video>
                </div>
                <hr>
                <button class="btn btn-sm btn-primary pull-right fullscreen-btn" ng-click="fullscreen = !fullscreen"><span class="glyphicon glyphicon-resize-full" ></span></button>
            </div>
            <tabset>
            <tab  ng-if="pdfUrl" heading="Slides">
                    <ng-pdf template-url="components/common/pdfViewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>
                </tab>
                <tab ng-if="course.contents.partials" ng-repeat="partial in course.contents.partials" heading="{{partial.name}}">
                    <div ng-if="!partial.markdown" ng-include="partial.path"></div>
                    <div ng-if="partial.markdown" marked src="partial.path"></div>
                </tab>
            </tabset>

        </div>

        <div class="col-md-3" ng-if="course.contents.video">
            <video-control video="course.contents.video" ></video-control>
            <documentation-control documents="course.contents.documentation"></documentation-control>
        </div>
    </div>
</div>

<div class="container" scrolly-scroll>
    <div class="row">
        <div class="container" scrolly-scroll >
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-6 col-md-3 " ng-repeat="child in children">
                        <div class="thumbnail">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <h4 class="text-center title">
                                        {{child.metadata.title}}
                                    </h4>
                                </div>

                            </div>
                            <img class="img-responsive" ng-src="{{child.metadata.imgURL}}">
                            <div class="caption">
                                <span ng-if="child.metadata.tag" class="pull-right label label-{{child.metadata.tag.level}}">{{child.metadata.tag.value}}</span>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <h4>{{child.metadata.subtitle}}</h4>
                                    </div>
                                </div>
                                <p>{{child.metadata.description}}</p>
                                <p>Difficulty:
                                    <span ng-repeat="i in getNumber(child.metadata.difficulty) track by $index" class="glyphicon glyphicon-star" >{{n}}</span>
                                </p>
                                <div class="button">
                                    <a class="btn btn-primary btn-block" ng-disabled="!{{child.active}}" ui-sref="{{child.path + child.name}}">start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
